/*----- General -----*/
@font-face {font-family: cq-mono; src: url("/static/assets/cq-mono.otf");}
    .cq-mono{font-family: cq-mono}

html{
    scroll-behavior: smooth;
    overscroll-behavior: none;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    font-size: 2vh;
    font-family: cq-mono;
    letter-spacing: 0.09em;
    line-height: 1.5em;
    color: #fff;
}
a{
    color: #fff;
    text-decoration: none;
}

/*----- Header -----*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto auto auto auto;
    padding: 0 2vh;
    box-sizing: border-box;
    gap: 2vh;
    z-index: 10;
    filter: drop-shadow(0 0 2vh #000);
}
    .button{
        display: grid;
        grid-template-columns: auto auto;
        color: #000;
        background-color: #fff;
        border-radius: 2.5vh;
        height: 5vh;
        align-items: center;
    }
    .icon{
        height: 4vh;
    }

/*----- Instructions -----*/
#instructions{
    display: grid;
    grid-template-rows: 1fr auto auto auto auto 1fr;
    grid-gap: 1vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    background-color: #000d;
    align-items: center;
    justify-content: center;
    padding:0 2vh;
    box-sizing: border-box;
    text-align: center;
}

/*----- Landing -----*/
#threelanding{
    width: 100%;
    z-index: 9;
    position: fixed;
    top: 0vh;
    will-change: height;
    background-image: url("/static/assets/paper.png");
    background-position: top;
    background-size: cover;
}

/*----- Player -----*/
.player-wrapper{
    padding: 2vh;
	box-sizing: border-box;
	position: sticky;
	top: 40vh;
	background-color: #000;
	filter: drop-shadow(0 0 2vh #000);
	z-index: 10;
    width: 100%;
    margin-top: calc(100vh - 20vh);
    margin-top: calc(100svh - 20svh);
}
    .track-info-wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: auto min(100%, 140vh) auto;
        padding-bottom: 1vh;
    }
        #track-info{
            height: 6vh;
            box-sizing: border-box;
            grid-area: 1 / 2;
            display: grid;
            grid-template-columns: 3vh 6vh 3vh auto 8vh 8vh;
            font-size: 2.2vh;
            padding: 0 1.5vh;
            margin-bottom: 1vh;
            border: 0.3vh solid #fff;
            border-radius: 3vh;
            filter: drop-shadow(0 0 0.5vh #0002);
            justify-items: center;
            align-items: center;
        }
            .player-icon{
                height: 4vh;
            }
            .player-skip{
                height: 3vh;
            }

/*----- Tracks -----*/
.tracks-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto min(100%, 120vh) auto;
    background-color: #1e1e1e;
}
		#tracks{
            grid-area: 1 / 2;
  			display: grid;
            padding: 4vh 2vh;
  	     }
            .track{
                height: min-content;
                height: 8vh;
                display: grid;
                grid-template-columns: 6vh auto 8vh 8vh;
                justify-items: center;
                align-items: center;
                padding: 0 2vh;
            }
                .track-play{
                    height: 2.5vh;
                }
        .divider{
            width: 100%;
            background-color: #181818;
            filter: drop-shadow(0 0 0.5vh #0002);
            height: 0.4vh;
            border-radius: 0.2vh;
        }
